<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mindSubscribe</display-name>
  <welcome-file-list>
    <welcome-file>indexAll.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>servlet.admin.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin/base</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>servlet.admin.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/admin/login</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>utils.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AdminLoginFilter</filter-name>
    <filter-class>utils.filter.AdminLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
    <url-pattern>/admin/base</url-pattern>
    <url-pattern>/doctor/DoctorServlet</url-pattern>
    <url-pattern>/client/ClientServlet</url-pattern>
    <url-pattern>/question/QuestionServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorServlet</display-name>
    <servlet-name>DoctorServlet</servlet-name>
    <servlet-class>servlet.doctor.DoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorServlet</servlet-name>
    <url-pattern>/doctor/DoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientServlet</display-name>
    <servlet-name>ClientServlet</servlet-name>
    <servlet-class>servlet.client.ClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientServlet</servlet-name>
    <url-pattern>/client/ClientServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnouncmentServlet</display-name>
    <servlet-name>AnnouncmentServlet</servlet-name>
    <servlet-class>servlet.AnnouncmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnouncmentServlet</servlet-name>
    <url-pattern>/announcment/AnnouncmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageServlet</display-name>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>servlet.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/message/MessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorLoginServlet</display-name>
    <servlet-name>DoctorLoginServlet</servlet-name>
    <servlet-class>servlet.doctor.DoctorLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLoginServlet</servlet-name>
    <url-pattern>/doctor/DoctorLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientLoginServlet</display-name>
    <servlet-name>ClientLoginServlet</servlet-name>
    <servlet-class>servlet.client.ClientLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientLoginServlet</servlet-name>
    <url-pattern>/client/ClientLoginServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>MessageSendFilter</display-name>
    <filter-name>MessageSendFilter</filter-name>
    <filter-class>utils.filter.MessageSendFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MessageSendFilter</filter-name>
    <url-pattern>/message/MessageServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>MessageBoardServlet</display-name>
    <servlet-name>MessageBoardServlet</servlet-name>
    <servlet-class>servlet.MessageBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageBoardServlet</servlet-name>
    <url-pattern>/board/MessageBoardServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>MessageBoardFilter</display-name>
    <filter-name>MessageBoardFilter</filter-name>
    <filter-class>utils.filter.MessageBoardFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MessageBoardFilter</filter-name>
    <url-pattern>/board/MessageBoardServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionServlet</display-name>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>servlet.QuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/question/QuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorBaseServlet</display-name>
    <servlet-name>DoctorBaseServlet</servlet-name>
    <servlet-class>servlet.doctor.DoctorBaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorBaseServlet</servlet-name>
    <url-pattern>/doctor/base</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClientBaseServlet</servlet-name>
    <servlet-class>servlet.client.ClientBaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientBaseServlet</servlet-name>
    <url-pattern>/client/base</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientSubServlet</display-name>
    <servlet-name>ClientSubServlet</servlet-name>
    <servlet-class>servlet.client.ClientSubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientSubServlet</servlet-name>
    <url-pattern>/client/ClientSubServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorSubServlet</display-name>
    <servlet-name>DoctorSubServlet</servlet-name>
    <servlet-class>servlet.doctor.DoctorSubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorSubServlet</servlet-name>
    <url-pattern>/doctor/DoctorSubServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadFile</display-name>
    <servlet-name>DownloadFile</servlet-name>
    <servlet-class>servlet.DownloadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFile</servlet-name>
    <url-pattern>/DownloadFile</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>DoctorLoginFilter</display-name>
    <filter-name>DoctorLoginFilter</filter-name>
    <filter-class>utils.filter.DoctorLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DoctorLoginFilter</filter-name>
    <url-pattern>/doctor/base</url-pattern>
    <url-pattern>/doctor/DoctorSubServlet</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>ClientLoginFilter</display-name>
    <filter-name>ClientLoginFilter</filter-name>
    <filter-class>utils.filter.ClientLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ClientLoginFilter</filter-name>
    <url-pattern>/client/base</url-pattern>
    <url-pattern>/client/ClientSubServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ClientRegisterServlet</display-name>
    <servlet-name>ClientRegisterServlet</servlet-name>
    <servlet-class>servlet.client.ClientRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientRegisterServlet</servlet-name>
    <url-pattern>/client/reg</url-pattern>
  </servlet-mapping>
</web-app>